<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rodrigo Alanis | Home</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/nav/nav.css">
    <link rel="stylesheet" href="styles/skills/skills.css">
    <link rel="stylesheet" href="styles/techs/techs.css">
    <link rel="stylesheet" href="styles/footer/footer.css">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="https://kit.fontawesome.com/59a9a8209a.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="nav">
        <a href="/" class="nav__title">
            Rodrigo
        </a>
        <ul class="nav__list">
            <li class="nav__item"><a href="#skills" class="nav__link">About Me</a></li>
            <li class="nav__item">
                <a href="/contact" class="nav__btn">
                    Contact Me
                </a>
            </li>
        </ul>
    </nav>
    <div class="main">
        <h1 class="main__title">
            < <span class="typed"></span> />
        </h1>
        <p class="main__desc">
            I Am A Web Developer,
            capable of making your website at a price according to your needs and your budget,
            I can do all kinds of pages in English or Spanish
        </p>
        <img src="img/logo.png" alt="ra-logo" class="main__logo">
    </div>

    <div id="skills" class="skills">
        <div class="skills__info">
            <h2 class="skills__title">
                Hi! nice to meet you
            </h2>
            <p class="skills__desc">
                These are the areas that I manage within the programming I would appreciate that you read the
                information so that you learn more about me
                and consider hiring me to create your website or your private automation program
            </p>
        </div>
        <div class="skills__cards">
            <div class="skills__card">
                <h3 class="skills__card-title">
                    Programming
                </h3>
                <p class="skills__card-desc">
                    I can program desktop apps exclusively for you or for your company and I can also do task automation
                    programs with the help of my skills in programming languages ​​such as python
                </p>
                <i class="skills__card-image fas fa-file-code">

                </i>
            </div>
            <div class="skills__card">
                <h3 class="skills__card-title">
                    Frontend
                </h3>
                <p class="skills__card-desc">
                    I can create web pages of all kinds on the frontend side with my knowledge of javascript and its
                    frameworks as well as html and css
                </p>
                <i class="skills__card-image far fa-window-restore">

                </i>
            </div>
            <div class="skills__card">
                <h3 class="skills__card-title">
                    Backend
                </h3>
                <p class="skills__card-desc">

                    I can create apis, clouds, payment systems, etc. to be able to use them from the frontend side with
                    the help of my knowledge in nodejs, laravel , django, etc
                </p>
                <i class="skills__card-image fas fa-cloud-upload-alt">

                </i>
            </div>
        </div>
    </div>

    <div class="techs">
        <div class="techs__tech">
            <i class="techs__tech-icon fab fa-html5" style="color: #e65100"></i>
            <div class="techs__tech-name">
                Html
            </div>
        </div>
        <div class="techs__tech">
            <i class="techs__tech-icon fab fa-css3-alt" style="color: #0277bd"></i>
            <div class="techs__tech-name">
                Css
            </div>
        </div>
        <div class="techs__tech">
            <i class="techs__tech-icon fab fa-bootstrap" style="color: #673ab7"></i>
            <div class="techs__tech-name">
                Bootstrap
            </div>
        </div>
        <div class="techs__tech">
            <i class="techs__tech-icon fab fa-js" style="color: #ffd600"></i>
            <div class="techs__tech-name">
                Javascript
            </div>
        </div>
        <div class="techs__tech">
            <i class="techs__tech-icon fab fa-angular" style="color: #de1d35"></i>
            <div class="techs__tech-name">
                Angular
            </div>
        </div>
        <div class="techs__tech">
            <i class="techs__tech-icon fab fa-vuejs" style="color: #81c784"></i>
            <div class="techs__tech-name">
                Vue
            </div>
        </div>
        <div class="techs__tech">
            <i class="techs__tech-icon fab fa-python" style="color: black"></i>
            <div class="techs__tech-name">
                Python
            </div>
        </div>
        <div class="techs__tech">
            <i class="techs__tech-icon fab fa-php" style="color: #dcd5f2"></i>
            <div class="techs__tech-name">
                Php
            </div>
        </div>
        <div class="techs__tech">
            <i class="techs__tech-icon fab fa-laravel" style="color: #ea3240"></i>
            <div class="techs__tech-name">
                Laravel
            </div>
        </div>
        <div class="techs__tech">
            <i class="techs__tech-icon fab fa-node-js" style="color: #4caf50"></i>
            <div class="techs__tech-name">
                Nodejs
            </div>
        </div>
        <div class="techs__tech">
            <i class="techs__tech-icon fab fa-git-alt" style="color: #f4511e"></i>
            <div class="techs__tech-name">
                Git
            </div>
        </div>
        <div class="techs__tech">
            <i class="techs__tech-icon fab fa-github" style="color: black"></i>
            <div class="techs__tech-name">
                Github
            </div>
        </div>
        <div class="techs__tech">
            <i class="techs__tech-icon fab fa-docker" style="color: #0288d1"></i>
            <div class="techs__tech-name">
                Docker
            </div>
        </div>
        <div class="techs__tech">
            <i class="techs__tech-icon fab fa-docker" style="color: #85cbf8"></i>
            <div class="techs__tech-name">
                Docker compose
            </div>
        </div>
        <div class="techs__tech">
            <i class="techs__tech-icon fab fa-java" style="color: black"></i>
            <div class="techs__tech-name">
                Java
            </div>
        </div>
        <div class="techs__tech" id="figma">
            <i class="techs__tech-icon fab fa-figma" style="color: black"></i>
            <div class="techs__tech-name">
                Figma
            </div>
        </div>
    </div>

    <footer class="footer">
        Rodrigo Alanis &copy; 
        <a href="/contact" class="footer__btn">
            Contact Me
        </a>
        <a style="font-size: 30px;color:white;text-decoration:none" href="https://github.com/RodrigoAlanisWeb" class="fab fa-github"></a>
    </footer>

    <script>
        const typed = new Typed('.typed', {
            strings: [
                '<span>  Hi, I Am Rodrigo  </span>'
            ],
            typeSpeed: 60,
        })
    </script>
</body>

</html>